html,
body {
	background-color: var(--background-color);
	color: var(--font-color);
	font-size: 16px;
	font-family: var(--body-font);
}

h1 {
	font-size: 3.583rem;
    font-weight: 900;
	font-family: var(--app-font);
}

.card-title {
	margin-bottom: 10px;
}

.body-version2 {
	background-color: #FBFBFB;
}

.skip-to {
	position: absolute;
	z-index: 10;
	transform: translateY(-100px);
	/*husk at transform kan man ikke ha verdi i rem*/
	padding: 0.5rem;
	background-color: #e0e0e0;
	color: #131313;
}

.skip-to:focus {
	transform: translateY(0px);
}

header {
	background-color: var(--background-header);
	position: relative;

}

.desktop-nav ul {
	list-style: none;
	display: flex;
	gap: 0.5rem;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}

.desktop-nav a {
	text-decoration: none;
	color: #0B0B0B;
}



.header--centered {
	max-width: 70rem;
	min-height: 5.688rem;
	margin: 0 0.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 56px;

}

button {
	background-color: #26232D;
	border: #26232D;
	font-family: var(--body-font);
	font-size: 1.25rem;
}

button:hover {
    opacity: 0.7;
}


.hero {
	width: 100vw;
	display: flex;
	flex-flow: column nowrap;
	padding-left: 0.875rem; /* 14px */
	padding-right: 0.875rem; /* 14px */
	/* justify-content: center; */
	/*justify content følger Y aksen*/
	align-items: center;
	/* align items følger X aksen*/
	position: relative;
	background-color: #FBFBFB;
	color: #0B0B0B;
}



.hero .project {
	background-color: #FBFBFB;
	color: #0B0B0B;
	margin: 0 auto;
	width: 50vw;
}

.hero .arrow {
	width: 5rem;
	/* får å bruke position absolute må vi ha en relative parent. AKA position: relative. Uten relative
    / blir det ikke en relasjon mellom child og parent*/
	bottom: 0.5rem;

}

.main--centered {
	padding-left: 0.875rem; /* 14px */
padding-right: 0.875rem; /* 14px */
background-color: #26232D;
}

.about-text {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
}

.CV-img {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#toolIcons img {
	padding: 0 0.5rem 0 0;
}

/*MOBILE*/



h1 {
	font-size: 2.441rem;
}

h2 {
	font-size: 3.125rem;
    font-weight: 700;
	font-family: var(--body-font);
	margin: 0 10px;
}

h3 {
	font-size: 2.188rem;
	font-family: var(--body-font);
	color: #0B0B0B;
	font-weight: 500;

}

h4 {
	font-size: 2rem;
	font-family: var(--body-font);
	color: #0B0B0B;
	font-weight: 400;
}

.description h4 {
	font-size: 1.8rem;
	color: #0B0B0B;
	padding-top: 10px;
}


p {
    font-family: var(--body-font);
    font-size: 1.125rem;
    color: #0B0B0B;
    line-height: 150%;
	/* margin: 0 24px; */
}

p .stronger {
	font-weight: 700;
}

.sub-title {
	font-size: 2.125rem;
}

li {
    color: #FEFEFE;
    padding: 0.313;
	margin: 8px 0;
}

footer {
    max-width: 100%;
    background-color: #26232D;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0.625rem;
    height: 200px;
	margin: 0 16px;
}

footer p {
    color: #FEFEFE;
}

.contact-icons {
    display: flex;
    flex-direction: row;
}

.icon-style {
    padding: 1rem;
}

.user-research-container p {
    font-size: 1.125rem;
}

.user-research-container li {
    font-size: 1.125rem;
    padding: 0.3rem;
}

p.bold {
	font-weight: 700;
	color: #0B0B0B;
}


p.text__white {
	color: #FBFBFB;
}

.project-overview-container p {
	font-size: 1.125rem;
	color: #0B0B0B;
	padding: 8px 0;
}

.card {
	display: flex;
	min-width: auto;
	flex-direction: column;
	justify-content: space-between;
	/* margin: 1rem 0; */
	text-decoration: none;
	color: #fff;
}

.card img {
	border-radius: 10px;
}

.card-test img {
	width: 100%;
	height: 15rem;
}

.card-test {
	display: inline-block;
	width: 20rem;
	background-color: #FEFEFE;
	padding: 1rem;
}

.projects-wrapper {
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	/* flex-flow: row wrap; */
	gap: 0.5rem;
}

.about-container {
	max-width: var(--max-width);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	/* justify-content: center; */
	padding: 0 1rem;
}

.about-container p {
	padding: 1rem 0;
	max-width: 60ch;
}

.about-container img {
	max-width: 50%;
	max-height: 30%;
	padding: 1rem 0;
}



/*--*/

.card--content {
	margin: 1rem;
}

.card--content p {
	padding: 1rem 0;
}

.card--content h3 {
    color: #FEFEFE;
	font-size: 2.813rem;
}

.nav {
	display: none;
}

.mobile-nav {
	position: fixed;
	bottom: 0;
	width: 100vw;
	z-index: 10;
	min-height: 2.5rem;
	padding: 0.4rem;
}

.hidden {
	display: none;
}

.close {
	direction: ltr;
}

.overlay-menu {
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 1);
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
  }
  
  .overlay-menu ul {
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	text-decoration: none;
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  .overlay-menu a {
	text-decoration: none;
	color: #0B0B0B;
	margin: 2rem 1rem;
  }
  
  .overlay-menu a:hover {
	font-weight: 600;
  }
  
.button--read {
	width: 13.875rem;
	height: 3.75rem;
	font-size: 1.125rem;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	background-color: #EADBF8;
	border-radius: 10px;
	color: #0B0B0B;
	/* cursor: grabbing; */
	/* border-radius: 0.5rem; */
}

.button--read img {
	width: 2rem;
}

.button--read:hover {
	cursor: pointer;
}


.hero .main-title-site {
	margin: 2rem 0;
}

.hero .intro-container {
	margin: auto 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero--title {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 32px 0px 0px;
	background-color: var(--background-header);
	flex: none;
	order: 1;
	flex-grow: 0;
}

.hero--title h1,
.hero--title p {
	margin: 0 auto;
	width: 100%;
	max-width: var(--max-width);
	color: #0B0B0B;
}

.hire--button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px;
	gap: 10px;
	color: black;
	width: 165px;
	height: 52px;
	align-self: flex-end;

	background: #EADBF8;
	box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
}

.nav--svg {
	max-width: 16px;
	max-height: 16px;
}

.content-background {
	background-color: #26232D;
}

.content-color {
	color: #FEFEFE;
}

.wave {
	/* width: 100%; */
	/* height: 100%; */
	background-color: #FBFBFB;
	padding: 0;
	margin: 0px;
	display: block;
}

.wave img {
	/* width: auto; */
	transform: scale(1.01);
}

.description {
	display: inline-flex;
	flex-direction: column;
	/* margin: 8px; */
	gap: 0px 48px;
	/* flex-wrap: wrap; */
	justify-content: center;
    /* padding: 2rem 1.2rem; */
}

.overview {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.heading-margin {
	margin: 1rem;
}

.project-container {
	max-width: var(--max-width);
	width: 100vw;
	margin: 0 auto;
	position: relative;
}

.project-container__hero {
	width: 100%;
	color: #0B0B0B;
}

.project-container__intro img {
	width: 100%;
}

.project-overview-container {
	width: 100%;
	border-color: #EADBF8;
	border-style: solid;
	border: 2px;
	border-radius: 7.31189px;
	/* box-shadow: 3.65594px 3.65594px 7.31189px rgba(0, 0, 0, 0.05); */
	color: #0B0B0B;
	padding: 12px;
	margin: 10px 0;
}

.details-box {
	display: flex;
	justify-content: center;
    /* color: #0B0B0B!important;
	border: 2px solid; */
	padding: 20px 0;
	margin: 0 10px;
}

.h-margin {
	margin: 0;
	padding: 0 0 1rem 0;
}

.user-research-container img {
	max-width: 250px;
	max-height: 200px;
}

.target-container {
	display: flex;
	flex-direction: column;
	background-color: #26232D;
	width: 100%;
	padding: 2rem 1.2rem;
}

.img-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.white-text {
	color: var(--font-color);
}

/* #styleContent p{
    padding: 1rem 0;
	margin: 0 24px;
} */

/* #styleContent h3{
	margin: 0 24px;
} */


.mockup-imgs {
    display: flex;
    flex-direction: column;
}

.flex-container {
	display: flex;
	justify-content: center;
}

.box-space {
	margin: 8px;
	padding: 0.5rem 1.2rem;
}

.wireframes {
	display: flex;
	flex-direction: column;
	max-width: var(--max-width);
	align-items: flex-start;
    padding: 2rem 1.2rem;
}

.wireframes p {
	padding: 1rem 0;
}

.title-display {
	display: block;
	padding: 1rem;
}

.project__blockImg {
	width: 100%;
}

#targetContent {
    width: 100%;
}

#targetContent h4 {
    color: #FBFBFB;
    padding: 1rem 0 0 0;
}

#targetContent h3 {
    color: #FBFBFB;
}

#targetContent p {
    color: #FBFBFB;
}

.gallery-img {
	display: flex;
    max-width: 90%;
	margin: auto;
}

.radius-shadow {
    box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
}

.content-background {
    display: flex;
	width: 100%;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    max-width: var(--max-width);
}

#iconsContent {
    padding: 2rem 1.2rem
}

#icons-images {
    padding: 2rem 1.2rem;
}



#hifi-images {
    padding: 2rem 1.2rem;
    
}

#hifi-images img {
	padding: 1.5rem 0;
}

#style-images img {
	padding: 1.5rem 0;
}

#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	border: none;
	outline: none;
	background-color: #EADBF8;
	color: #0B0B0B;
	cursor: pointer;
	padding: 15px;
	border-radius: 8px;
}

#myBtn:hover {
	background-color: #4e4d4e33;
}

#discover-content {
    padding: 2rem 1.2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#discover-content a {
    padding: 2rem 1.2rem;
	color: #0B0B0B;
	
}

#reflection {
    padding: 2rem 1.2rem;
}

#reflection-img {
    padding: 2rem 1.2rem;
}

#prototype-cover {
	max-width: 100%;
}

.mobile-nav {
	display: block;
}

.desktop-nav {
	display: none;
}

/*------------------------------------------------------------------------------------------/
/*DESKTOP*/

@media screen and (min-width: 540px) {
	.mobile-nav {
		display: none;
	}

	.desktop-nav {
		display: block;
	}

	.main--centered {
		max-width: var(--max-width);
		width: 100%;
		margin: 0 auto;
		position: relative;
	}

	.heading-xxlarge {
		font-family: var(--app-font);
		font-size: 5.96rem;
		font-weight: 900;
	}

	/* h1 {
		font-size: 5.96rem;
		font-family: var(--app-font);
        font-weight: 900;
	} */

	h1.project__title {
		font-size: 8.75;
	}

	h2 {
		font-size: 3.815rem;
		font-family: var(--body-font);
		font-weight: 600;
	}


	.card-title h2 {
		margin: 1.375rem 0;
	}

	h3 {
		font-size: 2.441rem;
		font-family: var(--body-font);
		color: #0B0B0B;
		font-weight: 500;
		margin: 8px 0;
	}

	
	/*Subheading*/
	h4 {
		font-size: 1.953rem;
		font-family: var(--body-font);
		color: #0B0B0B;
		font-weight: 400;
	}

    .description h4 {
        font-size: 1.953rem;
        color: #0B0B0B;
        padding-top: 16px;
    }

	p {
		font-family: var(--body-font);
		font-size: 1.125rem;
		color: #0B0B0B;
		line-height: 150%;
		padding: 8px 0;
		
	}

	/* h5 {
		font-size: 2.438rem;
		font-weight: 700;
		font-family: var(--body-font);
		color: #0B0B0B
	}

	h5.light {
		color: var(--font-color);
	} */

	.gallery-img {
		max-width: 100%;
	}

    .findings-Img {
        width: 800px;
    }

	p.small {
		font-size: 1.125rem;
		font-family: var(--body-font);
		font-weight: 400;
		line-height: 150%;
		color: #0B0B0B;
	}

	p.regular {
		font-size: 1.125rem;
		color: #0B0B0B;
	}

	p.large {
		font-size: 1.25rem;
	}
	
	.hero {
		width: 100vw;
		height: 40vh;
		display: flex;
		flex-flow: column nowrap;
		/* justify-content: center; */
		/*justify content følger Y aksen*/
		align-items: center;
		/* align items følger X aksen*/
		position: relative;
		background-color: #FBFBFB;
		color: #0B0B0B;
	}

	.details-box {
		display: flex;
		justify-content: center;
		/* color: #0B0B0B!important;
		border: 2px solid; */
		padding: 20px 0;
	}

    nav {
		font-family: var(--body-font);
		color: #0B0B0B;
		font-size: 1.25rem;
		font-weight: 400;
		float: right;
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 0px;
		justify-content: space-between;
		width: 37.188rem;
		height: 3.25rem;
	}

	.mobile-menu-icon {
		display: none;
		margin: 0 1rem;
	}

	.img-container {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.project-container__hero {
		width: 100%;

	}

	.hero .main-title-site {
		margin: auto 0;
	}

	.project-overview-container {
		width: 100%;
		border-color: #EADBF8;
		border-style: solid;
		border-radius: 7.31189px;
		/* box-shadow: 3.65594px 3.65594px 7.31189px rgba(0, 0, 0, 0.05); */
		color: #0B0B0B;
		margin: 10px 0;
	}

	.description {
		display: flex;
		flex-wrap: nowrap;
		justify-content: flex-start;
        /* flex-direction: row; */
        align-items: flex-start;
    
	}

	.white-text {
		color: #FEFEFE;
	}

	.sub-title {
		font-size: 3.125rem;
		font-weight: 400;
	}

	.h-margin {
		margin: 1rem;
		padding: 0;
	}

	.user-research-container img {
		max-width: 100%;

	}

    .textBox {
        width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		color: #0B0B0B;
		align-items: flex-start;
    }

    /* .textBox p {
        font-size: 1.125rem;
    } */

	

    .textBox-2 {
        width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		color: #0B0B0B;
		padding: 2rem 1.2rem;
		align-items: center;
    }

    .textBox-2 p {
        font-size: 1.125rem;
    }



	.user-research-container {
		width: 100%;
		display: block;
		flex-direction: row;
		justify-content: space-between;
		color: #0B0B0B;
		align-items: center;
	}

    .user-research-container p {
        font-size: 1.125rem;
    }

	.target-container {
		width: 100%;
        padding: 2rem 13rem;
		align-items: center;
	}

    .projects-wrapper {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		/* flex-flow: row wrap; */
		gap: 3rem;
    }
    
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* margin: 2.25rem 0; */
        text-decoration: none;
        color: #fff;
		/* max-width: 400px; */
    }

    .card img {
        height: auto;
    }

}