:root{
    --background-header: #FBFBFB;
    --background-color: #26232D;
    --font-color: #fff;
    --font-size: 16px;
    --app-font: 'Playfair Display', serif;
    --body-font:'Poppins', sans-serif;
    --max-width: 52.125rem;
    
}