:root{
    --background-header: #FBFBFB;
    --background-color: #014B56;
    --font-color: #fff;
    --font-size: 16px;
    --app-font: 'Antic Didone', serif;
    --sub-font: 'Albert Sans', sans-serif;
    --body-font: 'Albert Sans', sans-serif;
    --max-width: 52.125rem;
    
}                                                                                                                                                                                                                   