:root{
    --background-header: #FBFBFB;
    --background-color: #014B56;
    --font-color: #fff;
    --font-size: 16px;
    --app-font: 'Playfair Display', serif;
    --body-font:'Figtree', sans-serif;
    --max-width: 52.125rem;
    
}